ion-content{
    .div_seg{
        background: var(--ion-color-primary-contrast);
        padding: 0px 16px;
        width: 100%;
        .seg_{
            padding: 0px 16px;
            .seg_btn{
                --color:  var(--ion-color-medium);
                --color-checked: var(--ion-color-secondary-contrast);
                --indicator-color: var(--ion-color-primary);
                --indicator-height: 2px;
                --ripple-color: transparent;
                font-size: 16px;
                font-family: 'MuliBold';
                text-transform: capitalize;
                .lbl_no{
                    font-size: 14px;
                    --color:  var(--ion-color-medium);
                    margin-top: 4px;
                    margin-bottom: 6px;
                    --color-checked: var(--ion-color-medium);
                }
            }
        }
    }
    .items_{
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: 68px;
        border-bottom: 1px solid #ccc;
        margin: 0 8px;
        padding: 0 16px;
        .lbl_{
            display: block;
            font-size: 16px;
            font-family: 'MuliSemiBold';
        }
        .total{
            display: block;
            font-size: 16px;
            text-align: right;
            font-family: 'MuliBold';
            flex: none;
        }
    }
}