<ion-header>
  <ion-toolbar class="appBar">
  <ion-buttons slot="start">
    <ion-button (click)="back()">
      <ion-icon class="colorWhite" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title class="colorWhite">Physics</ion-title>
  </ion-toolbar>
  <ion-toolbar class="ext">
    <div class="div_seg">
    <ion-segment [(ngModel)]="physics" mode="md" class="seg_">
      <ion-segment-button value="videos" class="seg_btn">
        Videos
      </ion-segment-button>
      <ion-segment-button value="material" class="seg_btn">
        Material
      </ion-segment-button>
      <ion-segment-button value="practice" class="seg_btn">
        Practice
      </ion-segment-button>
    </ion-segment>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [ngSwitch]="physics">

      <div *ngSwitchCase="'videos'">
        videos
      </div>

      <div *ngSwitchCase="'material'">
        material
      </div>

      <div *ngSwitchCase="'practice'">
        
        <!-- <div (click)="expandItem(item)" *ngFor="let item of items">
          <ion-row>
            <ion-col size="2">
              <ion-label>1</ion-label>
            </ion-col>
            <ion-col size="8">
              Title
            </ion-col>
            <ion-col size="2">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>
          <app-expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
            Hello Friends
          </app-expandable>
        </div> -->

        <!-- <ion-card class="card-main" *ngFor="let item of items">
          <ion-row class="row-card" (click)="toggleDetails(d)">
            <ion-col size="10" class="col-lbl">
              <ion-label class="col-title">Bill no</ion-label>
              <ion-label class="col-value">Bill</ion-label>
            </ion-col>
            <ion-col size="2" class="col-edit">
              <ion-button size="small" fill="clear" class="btn-edit">
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-button>
              <ion-button size="small" fill="clear" class="btn-edit">
                <ion-icon name="arrow-down"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-card-content class="main-card-content">
            <app-expandable expandHeight="100px" expanded="item.expanded">
              <ion-row class="row-card">
                <ion-col size="10" class="col-lbl">
                  <ion-label class="col-title">Client Name</ion-label>
                  <ion-label class="col-value">Name</ion-label>
                </ion-col>
                <ion-col size="2"></ion-col>
              </ion-row>
              <ion-row class="row-card">
                <ion-col size="10" class="col-lbl">
                  <ion-label class="col-title">Client Phone</ion-label>
                  <ion-label class="col-value">Phone</ion-label>
                </ion-col>
                <ion-col size="2" class="col-lbl add">
                  <ion-button size="small" fill="clear" class="print">
                    <ion-icon name="print" mode="md" class="btn-icon"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row class="row-card">
                <ion-col size="6" class="col-lbl">
                  <ion-label class="col-title">Total Products</ion-label>
                  <ion-label class="col-value">Products</ion-label>
                </ion-col>
                <ion-col size="4" class="col-lbl">
                  <ion-label class="col-title">Total Amount</ion-label>
                  <ion-label class="col-value">Amount</ion-label>
                </ion-col>
                <ion-col size="2" class="col-lbl add">
                  <ion-button size="small" fill="clear" class="edit">
                    <ion-icon name="create" mode="md" class="btn-icon"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row class="row-card">
                <ion-col size="10" class="col-lbl">
                  <ion-label class="col-title">Date Time</ion-label>
                  <ion-label class="col-value" >Date</ion-label>
                </ion-col>
                <ion-col size="2" class="col-lbl add">
                  <ion-button size="small" fill="clear" class="dlt">
                    <ion-icon name="trash" mode="md" class="btn-icon"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </app-expandable>
          </ion-card-content>
        </ion-card> -->

        <!-- <ion-list>
          <div *ngFor="let d of data">
          <ion-item lines="none" class="details" (click)="toggleDetails(d)">
            <ion-icon color="primary" [name]="d.icon" slot="end"></ion-icon>
            {{d.title}}      
          </ion-item>
          <div *ngIf="d.showDetails" class="details">{{d.details}}</div>
        </div>
        </ion-list> -->

        <ion-item lines="none" class="header" (click)="onChangeEmail()">
          <ion-checkbox mode="md" style="display: none;"></ion-checkbox>
          <ion-label>
            Change Email
          </ion-label>
        </ion-item>
        <div *ngIf="visabilityEmail">
          <ion-label>name</ion-label>
          <ion-label>email</ion-label>
          <ion-label>pass</ion-label>
        </div>

      </div>

  </div>

</ion-content>
