<ion-header>
  <ion-toolbar class="appBar">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon class="colorWhite" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="colorWhite">Physics</ion-title>
  </ion-toolbar>
  <ion-toolbar class="ext">
    <div class="div_seg">
      <ion-segment [(ngModel)]="physics" mode="md" class="seg_">
        <ion-segment-button value="videos" class="seg_btn">
          Videos
        </ion-segment-button>
        <ion-segment-button value="material" class="seg_btn">
          Material
        </ion-segment-button>
        <ion-segment-button value="practice" class="seg_btn">
          Practice
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [ngSwitch]="physics">

    <div *ngSwitchCase="'videos'">
      
      <mat-accordion>
        <mat-expansion-panel class="exPanel">
          <mat-expansion-panel-header class="exPanelHeader">
            <ion-badge class="exBadge">1</ion-badge>
            <ion-label class="exLabel">Lorem ipsum Demo text</ion-label>
          </mat-expansion-panel-header>
          <ion-item class="exItem_" lines="full">
            <ion-icon class="exIcon_" name="play-sharp"></ion-icon>
            <ion-label class="exLbl_">Lorem ipsum Demo text</ion-label>
          </ion-item>
          <ion-item class="exItem_" lines="full">
            <ion-icon class="exIcon_" name="play-sharp"></ion-icon>
            <ion-label class="exLbl_">Lorem ipsum Demo text</ion-label>
          </ion-item>
        </mat-expansion-panel>

        <mat-expansion-panel class="exPanel">
          <mat-expansion-panel-header class="exPanelHeader">
            <ion-badge class="exBadge">1</ion-badge>
            <ion-label class="exLabel">Lorem ipsum Demo text</ion-label>
          </mat-expansion-panel-header>
          <ion-item class="exItem_" lines="full">
            <ion-icon class="exIcon_" name="play-sharp"></ion-icon>
            <ion-label class="exLbl_">Lorem ipsum Demo text</ion-label>
          </ion-item>
          <ion-item class="exItem_" lines="full">
            <ion-icon class="exIcon_" name="play-sharp"></ion-icon>
            <ion-label class="exLbl_">Lorem ipsum Demo text</ion-label>
          </ion-item>
        </mat-expansion-panel>
      </mat-accordion>

    </div>

    <div *ngSwitchCase="'material'">
      
      <mat-accordion>
        <mat-expansion-panel class="exPanel">
          <mat-expansion-panel-header class="exPanelHeader">
            <ion-badge class="exBadge">1</ion-badge>
            <ion-label class="exLabel">Lorem ipsum Demo text</ion-label>
          </mat-expansion-panel-header>
          <ion-item class="exItem_" lines="full">
            <ion-icon class="exIcon_" name="document-text"></ion-icon>
            <ion-label class="exLbl_">Lorem ipsum Demo text</ion-label>
          </ion-item>
          <ion-item class="exItem_" lines="full">
            <ion-icon class="exIcon_" name="document-text"></ion-icon>
            <ion-label class="exLbl_">Lorem ipsum Demo text</ion-label>
          </ion-item>
        </mat-expansion-panel>

        <mat-expansion-panel class="exPanel">
          <mat-expansion-panel-header class="exPanelHeader">
            <ion-badge class="exBadge">1</ion-badge>
            <ion-label class="exLabel">Lorem ipsum Demo text</ion-label>
          </mat-expansion-panel-header>
          <ion-item class="exItem_" lines="full">
            <ion-icon class="exIcon_" name="document-text"></ion-icon>
            <ion-label class="exLbl_">Lorem ipsum Demo text</ion-label>
          </ion-item>
          <ion-item class="exItem_" lines="full">
            <ion-icon class="exIcon_" name="document-text"></ion-icon>
            <ion-label class="exLbl_">Lorem ipsum Demo text</ion-label>
          </ion-item>
        </mat-expansion-panel>
      </mat-accordion>

    </div>

    <div *ngSwitchCase="'practice'">

      <mat-accordion>
        <mat-expansion-panel class="exPanel">
          <mat-expansion-panel-header class="exPanelHeader">
            <ion-badge class="exBadge">1</ion-badge>
            <ion-label class="exLabel">Lorem ipsum Demo text</ion-label>
          </mat-expansion-panel-header>
          <ion-item class="exItem_" lines="full" (click)="instruction()">
            <ion-icon class="exIcon_" name="play-sharp"></ion-icon>
            <ion-label class="exLbl_">Lorem ipsum Demo text</ion-label>
          </ion-item>
          <ion-item class="exItem_" lines="full" (click)="instruction()">
            <ion-icon class="exIcon_" name="play-sharp"></ion-icon>
            <ion-label class="exLbl_">Lorem ipsum Demo text</ion-label>
          </ion-item>
        </mat-expansion-panel>

        <mat-expansion-panel class="exPanel">
          <mat-expansion-panel-header class="exPanelHeader">
            <ion-badge class="exBadge">1</ion-badge>
            <ion-label class="exLabel">Lorem ipsum Demo text</ion-label>
          </mat-expansion-panel-header>
          <ion-item class="exItem_" lines="full" (click)="instruction()">
            <ion-icon class="exIcon_" name="play-sharp"></ion-icon>
            <ion-label class="exLbl_">Lorem ipsum Demo text</ion-label>
          </ion-item>
          <ion-item class="exItem_" lines="full" (click)="instruction()">
            <ion-icon class="exIcon_" name="play-sharp"></ion-icon>
            <ion-label class="exLbl_">Lorem ipsum Demo text</ion-label>
          </ion-item>
        </mat-expansion-panel>
      </mat-accordion>

    </div>

  </div>

</ion-content>