ion-content{
    .div_card{
        margin: 16px;
        padding: 16px;
        box-shadow: 0px 2px 10px #ccc;
        border-radius: 8px;
        .lbl_head{
            display: block;
            font-family: 'MuliBold';
            padding: 4px 0px;
        }
        .img_{
            width: 100%;
        }
        .lbl_desc{
            padding: 8px 0px;
            display: block;
        }
        .lbl_date{
            text-align: right;
            display: block;
        }
    }
}