<ion-header>
  <ion-toolbar class="appBar">
  <ion-buttons slot="start">
    <ion-button (click)="back()">
      <ion-icon class="colorWhite" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title mode="md" class="colorWhite">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="div_card">
    <ion-label class="lbl_head">Title</ion-label>

    <img class="img_" src="../../assets/images/placeholder.png"/>

    <ion-label class="lbl_desc">Description</ion-label>

    <ion-label class="lbl_date">Date</ion-label>
  </div>

</ion-content>
