ion-content{
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
    .videos{
        .rowVid{
            .colVid{
                padding: 0px;
                .div_img{
                    position: relative;
                    .imgVid{
                        box-shadow: 0px 2px 10px #ccc;
                        border-radius: 8px;
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                    .icon_{
                        color: var(--ion-color-primary-contrast);
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: auto;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    
                }
                .lblVid{
                    display: block;
                    font-size: 14px;
                    font-weight: bold;
                    padding: 8px;
                }
            }
        }
    }
    .docs{
        .rowDoc{
            .colDoc{
                padding: 0px;
                .imgDoc{
                    box-shadow: 0px 2px 10px #ccc;
                    border-radius: 8px;
                }
                .lblDoc{
                    display: block;
                    font-size: 14px;
                    font-weight: bold;
                    padding: 8px;
                }
            }
        }
    }
}