<ion-content>

  <ion-row class="row_list">
    <ion-col size="4" class="col_list">
      <div class="div_img">
        <img src="../../assets/images/placeholder.png" class="imgVid"/>
        <div class="layer"></div>
        <ion-icon size="large" class="icon_" name="play-circle-outline"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8" class="col_list">
      <ion-label class="lbl_">Lorem Ipsum is simply dummy text of the printing.</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row_list">
    <ion-col size="4" class="col_list">
      <div class="div_img">
        <img src="../../assets/images/placeholder.png" class="imgVid"/>
        <div class="layer"></div>
        <ion-icon size="large" class="icon_" name="play-circle-outline"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8" class="col_list">
      <ion-label class="lbl_">Lorem Ipsum is simply dummy text of the printing.</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row_list">
    <ion-col size="4" class="col_list">
      <div class="div_img">
        <img src="../../assets/images/placeholder.png" class="imgVid"/>
        <div class="layer"></div>
        <ion-icon size="large" class="icon_" name="play-circle-outline"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8" class="col_list">
      <ion-label class="lbl_">Lorem Ipsum is simply dummy text of the printing.</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row_list">
    <ion-col size="4" class="col_list">
      <div class="div_img">
        <img src="../../assets/images/placeholder.png" class="imgVid"/>
        <div class="layer"></div>
        <ion-icon size="large" class="icon_" name="play-circle-outline"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8" class="col_list">
      <ion-label class="lbl_">Lorem Ipsum is simply dummy text of the printing.</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row_list">
    <ion-col size="4" class="col_list">
      <div class="div_img">
        <img src="../../assets/images/placeholder.png" class="imgVid"/>
        <div class="layer"></div>
        <ion-icon size="large" class="icon_" name="play-circle-outline"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8" class="col_list">
      <ion-label class="lbl_">Lorem Ipsum is simply dummy text of the printing.</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row_list">
    <ion-col size="4" class="col_list">
      <div class="div_img">
        <img src="../../assets/images/placeholder.png" class="imgVid"/>
        <div class="layer"></div>
        <ion-icon size="large" class="icon_" name="play-circle-outline"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8" class="col_list">
      <ion-label class="lbl_">Lorem Ipsum is simply dummy text of the printing.</ion-label>
    </ion-col>
  </ion-row>

</ion-content>
