<div class="div_modal">

  <div class="div_"></div>

  <ion-label class="lbl_head">Leave Practice ?</ion-label>

  <ion-label class="lbl_desc">You can resume later at any time</ion-label>

  <ion-row class="row_btns">
    <ion-col size="6" class="col_btns">
      <ion-button class="btn_resume" size="large" color="tertiary" expand="block" (click)="resume()">Resume</ion-button>
    </ion-col>
    <ion-col size="6" class="col_btns">
      <ion-button class="btn_leave" size="large" color="primary" expand="block" (click)="leave()">Leave</ion-button>
    </ion-col>
  </ion-row>

</div>
