<ion-tabs>

  <ion-tab-bar slot="bottom" class="tab_bar">

    <ion-tab-button tab="dashboard">
      <ion-icon  src="../../assets/images/Learn.svg" class="tab_icons"></ion-icon>
      <ion-label class="tab_lbl">Learn</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="practice">
      <ion-icon  src="../../assets/images/Pactice.svg" class="tab_icons"></ion-icon>
      <ion-label class="tab_lbl">Practice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon  src="../../assets/images/More.svg" class="tab_icons"></ion-icon>
      <ion-label class="tab_lbl">More</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>