<ion-header>
  <ion-toolbar class="appBar">
    <ion-title class="colorWhite size_" mode="md">Practice</ion-title>
  </ion-toolbar>
  <ion-toolbar class="ext">
    <div class="div_seg">
    <ion-segment [(ngModel)]="subjects" mode="md" class="seg_">
      <ion-segment-button value="maths" class="seg_btn">
        Maths
      </ion-segment-button>
      <ion-segment-button value="chemistry" class="seg_btn">
        Chemistry
      </ion-segment-button>
      <ion-segment-button value="biology" class="seg_btn">
        Biology
      </ion-segment-button>
      <ion-segment-button value="physics" class="seg_btn">
        Physics
      </ion-segment-button>
    </ion-segment>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [ngSwitch]="subjects">

      <div *ngSwitchCase="'maths'">
        <div class="empty_">
          <ion-label class="lbl_empty">Maths</ion-label>
        </div>
      </div>

      <div *ngSwitchCase="'chemistry'">        
        <div class="empty_">
          <ion-label class="lbl_empty">Chemistry</ion-label>
        </div>
      </div>

      <div *ngSwitchCase="'biology'">
        <div class="empty_">
          <ion-label class="lbl_empty">Biology</ion-label>
        </div>
      </div>

      <div *ngSwitchCase="'physics'">        
        <div class="empty_">
          <ion-label class="lbl_empty">Physics</ion-label>
        </div>
      </div>

  </div>

</ion-content>
