<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="back()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="bold">
      Select your Grade
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="div_grade">
    <ion-label class="lbl_medium">GSEB (Gujarati Medium)</ion-label>
    <ion-label class="lbl_grade" (click)="dashboard()">Grade-10</ion-label>
  </div>

</ion-content>
