ion-content{
    .div_grade{
        box-shadow: 0px 4px 18px #ccc;
        margin: 10px;
        padding: 16px 12px;
        .lbl_medium{
            display: block;
            font-size: 20px;
            margin: 0 0 28px 0;
        }
        .lbl_grade{
            background: var(--ion-color-primary);
            color: white;
            padding: 8px;
            border-radius: 8px;
            font-size: 16px;
        }
    }
}