<ion-header>
  <ion-toolbar class="appBar">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon class="colorWhite" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="colorWhite">Chapters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="row_result">
    <ion-col size="9" class="col_result">
      <ion-label class="lbl_que">System of particles and rotational motion</ion-label>
      <div class="div_result">
        <ion-icon name="checkmark-circle" color="success" class="icon_"></ion-icon>
        <ion-label class="lbl_no">1</ion-label>
      </div>
      <div class="div_result">
        <ion-icon name="close-circle" color="danger" class="icon_"></ion-icon>
        <ion-label class="lbl_no">1</ion-label>
      </div>
      <div class="div_result">
        <ion-icon name="refresh-circle" color="medium" class="icon_"></ion-icon>
        <ion-label class="lbl_no">1</ion-label>
      </div>
    </ion-col>
    <ion-col size="3" class="col_result">
      <ion-label class="lbl_total">4 / 4</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row_result clr">
    <ion-col size="9" class="col_result">
      <ion-label class="lbl_que">System of particles and rotational motion</ion-label>
      <div class="div_result">
        <ion-icon name="checkmark-circle" color="success" class="icon_"></ion-icon>
        <ion-label class="lbl_no">1</ion-label>
      </div>
      <div class="div_result">
        <ion-icon name="close-circle" color="danger" class="icon_"></ion-icon>
        <ion-label class="lbl_no">1</ion-label>
      </div>
      <div class="div_result">
        <ion-icon name="refresh-circle" color="medium" class="icon_"></ion-icon>
        <ion-label class="lbl_no">1</ion-label>
      </div>
    </ion-col>
    <ion-col size="3" class="col_result">
      <ion-label class="lbl_total">4 / 4</ion-label>
    </ion-col>
  </ion-row>

</ion-content>