<ion-header>
  <ion-toolbar class="appBar">
    <ion-title mode="md" class="colorWhite size_">Account Center</ion-title>
  </ion-toolbar>
  <ion-toolbar class="ext">
    <div class="div_card">
      <img src="../../assets/images/USERICON.svg" class="profile">
      <ion-label class="username">Guest</ion-label>
    </div>  
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="div_items">
  <ion-item lines="full" class='items_' (click)="profile()">
    <ion-icon src="../../assets/images/PersonalInfo.svg" class="icon_"></ion-icon>
    <ion-label class="lbl_">Personal info</ion-label>
    <ion-icon size='small' name="chevron-forward" class="icon_arrow"></ion-icon>
  </ion-item>
  <ion-item lines="full" class='items_' (click)="classroom()">
    <ion-icon src="../../assets/images/MyClassroom.svg" class="icon_"></ion-icon>
    <ion-label class="lbl_">My Classroom</ion-label>
    <ion-icon size='small' name="chevron-forward" class="icon_arrow"></ion-icon>
  </ion-item>
  <ion-item lines="none" class='items_' (click)="payment()">
    <ion-icon src="../../assets/images/PaymentAndPurchases.svg" class="icon_"></ion-icon>
    <ion-label class="lbl_">Payment And Purchases</ion-label>
    <ion-icon size='small' name="chevron-forward" class="icon_arrow"></ion-icon>
  </ion-item>
  <div class='hr'></div>
  <ion-item lines="full" class='items_' (click)="youtube()">
    <ion-icon  src="../../assets/images/Youtube.svg" class="icon_"></ion-icon>
    <ion-label class="lbl_">Youtube</ion-label>
    <ion-icon size='small' name="chevron-forward" class="icon_arrow"></ion-icon>
  </ion-item>
  <ion-item lines="full" class='items_' (click)="fb()">
    <ion-icon  src="../../assets/images/FB.svg" class="icon_"></ion-icon>
    <ion-label class="lbl_">Facebook</ion-label>
    <ion-icon size='small' name="chevron-forward" class="icon_arrow"></ion-icon>
  </ion-item>
  <ion-item lines="none" class='items_' (click)="insta()">
    <ion-icon src="../../assets/images/Instagram.svg" class="icon_"></ion-icon>
    <ion-label class="lbl_">Instagram</ion-label>
    <ion-icon size='small' name="chevron-forward" class="icon_arrow"></ion-icon>
  </ion-item>
  <div class='hr'></div>
  <ion-item lines="full" class='items_' (click)="whatsApp()">
    <ion-icon  src="../../assets/images/Whatsapp.svg" class="icon_"></ion-icon>
    <ion-label class="lbl_">WhatsApp</ion-label>
    <ion-icon size='small' name="chevron-forward" class="icon_arrow"></ion-icon>
  </ion-item>
  <ion-item lines="full" class='items_' (click)="call()">
    <ion-icon  src="../../assets/images/Call.svg" class="icon_"></ion-icon>
    <ion-label class="lbl_">Call Us</ion-label>
    <ion-icon size='small' name="chevron-forward" class="icon_arrow"></ion-icon>
  </ion-item>
  <ion-item lines="full" class='items_' (click)="telegram()">
    <ion-icon  src="../../assets/images/Telegram.svg" class="icon_"></ion-icon>
    <ion-label class="lbl_">Telegram</ion-label>
    <ion-icon size='small' name="chevron-forward" class="icon_arrow"></ion-icon>
  </ion-item>
  <ion-item lines="none" class='items_' (click)="email()">
    <ion-icon  src="../../assets/images/WriteEmail.svg" class="icon_"></ion-icon>
    <ion-label class="lbl_">Email</ion-label>
    <ion-icon size='small' name="chevron-forward" class="icon_arrow"></ion-icon>
  </ion-item>
  <div class='hr'></div>
  <ion-item lines="full" class='items_' (click)="about()">
    <ion-icon  src="../../assets/images/About.svg" class="icon_"></ion-icon>
    <ion-label class="lbl_">About us</ion-label>
    <ion-icon size='small' name="chevron-forward" class="icon_arrow"></ion-icon>
  </ion-item>
  <ion-item lines="full" class='items_' (click)="terms()">
    <ion-icon  src="../../assets/images/Terms.svg" class="icon_"></ion-icon>
    <ion-label class="lbl_">Terms & Condition</ion-label>
    <ion-icon size='small' name="chevron-forward" class="icon_arrow"></ion-icon>
  </ion-item>
  <ion-item lines="none" class='items_' (click)="privacy()">
    <ion-icon  src="../../assets/images/PrivacyCentre.svg" class="icon_"></ion-icon>
    <ion-label class="lbl_">Privacy Policy</ion-label>
    <ion-icon size='small' name="chevron-forward" class="icon_arrow"></ion-icon>
  </ion-item>
</div>

</ion-content>
