ion-header{
    .div_card{
        height: 180px;
        background: var(--ion-color-primary);
        text-align: center;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        .profile{
            height: 75px;
            width: 75px;
            border-radius: 100%;
            margin: 16px 0px 4px 0px;
        }
        .username{
            display: block;
            font-size: 20px;
            font-weight: bold;
            font-family: MuliBold;
            color: var(--ion-color-secondary);
        }
    }
}
ion-content{
    --background: var(--ion-color-primary);
    .div_items{
        padding: 0px 0px 0px 0px;
        background: var(--ion-color-primary-contrast);
        // height: 115%;
        .items_{
            --padding-start: 0px;
            --inner-padding-end: 0px;
            padding: 8px 0px;
            margin: 0px 28px;
            .icon_{
                margin: 0px 12px 0px 0px;
                color: var(--ion-color-medium);
                font-size: 26px;
            }
            .lbl_{
                display: block;
                color: var(--ion-color-dark);
                font-size: 19px;
                font-family: MuliSemiBold;
            }
            .icon_arrow{
                color: var(--ion-color-medium);
            }
        }
    }
}