<ion-header>
  <div class="div_"></div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Practice Title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div_modal">

    <ion-label class="lbl_">Physics</ion-label>

    <div class="bullets_">
      <ion-label class="lblSec">Section 1</ion-label>
      <div class="bullet_">1</div>
      <div class="bullet_">2</div>
      <div class="bullet_ bgR">3</div>
      <div class="bullet_">4</div>
      <div class="bullet_ bgS">5</div>
      <ion-label class="lblSec">Section 2</ion-label>
      <div class="bullet_">6</div>
      <div class="bullet_ bgW">7</div>
      <div class="bullet_">8</div>
      <div class="bullet_ bgS">9</div>
      <div class="bullet_">10</div>
      <ion-label class="lblSec">Section 3</ion-label>
      <div class="bullet_ bgR">11</div>
      <div class="bullet_">12</div>
      <div class="bullet_ bgS">13</div>
      <div class="bullet_ bgW">14</div>
      <div class="bullet_">15</div>
      <ion-label class="lblSec">Section 4</ion-label>
      <div class="bullet_">16</div>
      <div class="bullet_ bgR">17</div>
      <div class="bullet_">18</div>
      <div class="bullet_ bgS">19</div>
      <div class="bullet_ bgW">20</div>
    </div>

    <ion-label class="lbl_">Physics</ion-label>

    <div class="bullets_">
      <ion-label class="lblSec">Section 1</ion-label>
      <div class="bullet_">1</div>
      <div class="bullet_">2</div>
      <div class="bullet_ bgR">3</div>
      <div class="bullet_">4</div>
      <div class="bullet_ bgS">5</div>
      <ion-label class="lblSec">Section 2</ion-label>
      <div class="bullet_">6</div>
      <div class="bullet_ bgW">7</div>
      <div class="bullet_">8</div>
      <div class="bullet_ bgS">9</div>
      <div class="bullet_">10</div>
      <ion-label class="lblSec">Section 3</ion-label>
      <div class="bullet_ bgR">11</div>
      <div class="bullet_">12</div>
      <div class="bullet_ bgS">13</div>
      <div class="bullet_ bgW">14</div>
      <div class="bullet_">15</div>
      <ion-label class="lblSec">Section 4</ion-label>
      <div class="bullet_">16</div>
      <div class="bullet_ bgR">17</div>
      <div class="bullet_">18</div>
      <div class="bullet_ bgS">19</div>
      <div class="bullet_ bgW">20</div>
    </div>
    
  </div>
</ion-content>