.div_modal {
  // text-align: center;
  // padding: 8px 0 0 0;
  .row_head {
    padding: 0px 8px 0px 8px;
    border-bottom: 1px solid #ccc;
    .col_head {
      margin-top: auto;
      margin-bottom: auto;
      .icon_ {
        font-size: 24px;
      }
      .lbl_title {
        display: block;
        // text-align: center;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
  .lbl_ {
    border: 1px dashed #ccc;
    margin: 16px 0 0 0;
    display: block;
    text-align: center;
    font-family: "MuliBold";
    font-size: 16px;
    padding: 8px;
  }
}
.div_ {
  width: 18px;
  height: 4px;
  margin: auto;
  margin-top: 10px !important;
  border-radius: 8px;
  background: var(--ion-color-light-shade);
}
