<ion-header>
  <ion-toolbar>
    <ion-title>Hints</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div_modal">

    <div class="div_hint">
      <ion-icon name="bulb-outline" class="icon_"></ion-icon>
      <ion-label class="lbl_hint">Hint 1 of 4</ion-label>
      <ion-label class="lbl_desc">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print.
      </ion-label>
    </div>
  
    <div class="div_hint">
      <ion-icon name="bulb-outline" class="icon_"></ion-icon>
      <ion-label class="lbl_hint">Hint 2 of 4</ion-label>
      <ion-label class="lbl_desc">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used.</ion-label>
    </div>
  
    <div class="div_hint">
      <ion-icon name="bulb-outline" class="icon_"></ion-icon>
      <ion-label class="lbl_hint">Hint 3 of 4</ion-label>
      <ion-label class="lbl_desc">lipsum as it is sometimes known.</ion-label>
    </div>
  
    <div class="div_hint">
      <ion-icon name="bulb-outline" class="icon_"></ion-icon>
      <ion-label class="lbl_hint">Hint 4 of 4</ion-label>
      <ion-label class="lbl_desc">dummy text used in laying out print.</ion-label>
    </div>
  
  </div>
</ion-content>

<ion-footer>
  <ion-button size="large" expand="full" (click)="close()">Close</ion-button>
</ion-footer>